<%= form_for(item) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :done, 'Done' %>
    <%= f.radio_button :done, true %>
    <%= f.label :done, 'Not Done' %>
    <%= f.radio_button :done, false %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>